$primaryColor: rgb(230, 0, 255);
$secondaryColor: rgb(216, 216, 216);

html {
  font-family: generalFont;
}

h1 {
  color: $primaryColor;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: url(../images/batman-background.jpg);
  &__subtitle {
    color: $secondaryColor;
  }
}
