include pug/libs/_libs

doctype html
html(lang='en')
  include pug/_head
  body
    .container
      h1 Hello World
      h2.container__subtitle
        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam voluptatum doloremque deleniti placeat error
        | minima nesciunt aperiam, sunt ea quis nemo laboriosam nihil, provident esse voluptas facilis aut hic ipsam! Odit
        | iusto perspiciatis blanditiis ut dolore quasi nesciunt. Deserunt doloribus ut quia delectus molestiae architecto
        | vitae sed a eaque quo deleniti ratione aut, consequatur nesciunt similique saepe nemo aliquid voluptatem.
      +image('vue-logo', "png")
      +image('batman-background', "jpg")
